:root {
    --background-fondo-claro: rgb(220, 224, 228);
}

body {
    background-color: var(--background-fondo-claro);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#seccion-registro-login {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100 !important;
    background-color: rgb(230, 234, 236);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    user-select: none;
    display: flex;
}


.menu-registro-login {
    background-color: rgba(249, 249, 249, 0.642);
    box-shadow: 0px 0px 3px rgba(212, 214, 215, 0.681);
    width: 325px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    corner-shape: squircle;
}

.label-check {
    flex-direction: row !important;
    align-items: center !important;
    cursor: pointer !important;
}

.label-check input {
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
    margin-left: 8px !important;
    margin-top: 3px !important;
    padding: 0 !important;
}

#seccion-registro-login button {
    margin: auto;
    cursor: pointer;
    height: 29px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid rgba(113, 113, 113, 0.721);
    margin-top: 8px;
    font-size: 14.5px;
    transition: 0.08s;
}

#seccion-registro-login button:hover {
    transition: 0.15s;
    font-size: 15.7px;
}

#seccion-registro-login h2 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

#seccion-registro-login form {
    display: flex;
    flex-direction: column;
}

#seccion-registro-login form input {
    height: 24px;
    padding: 1px;
    margin-top: 2.5px;
    padding-left: 8px;
    font-size: 14.2px;
    font-style: monospace;
}


#seccion-registro-login form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

#seccion-registro-login form label span {
    margin-left: 8px;
}

.ocultar-display {
    display: none !important;

}

.flex-display {
    display: flex !important;
}

.block-display {
    display: block !important;
}

#seccion-registro-login .bt-cambio-login-registro {
    margin-top: 5px;
    margin-left: 8px;
    color: blue;
    cursor: pointer;
}

#seccion-registro-login .bt-cambio-login-registro:hover {
    text-decoration: underline;
}

.estrada-menu-registro-login-incorrecto {
    border-color: brown;
    color: brown;
}

.estrada-menu-registro-login-incorrecto:focus {
    border-color: brown;
    color: black;
}

#seccion-registro {
    height: 390px !important;
}

.span-aviso {
    font-style: italic;
    color: rgba(148, 148, 148, 0.897);
    text-align: left;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.menu-validacion-codigo {
    background-color: rgba(249, 249, 249, 0.642);
    box-shadow: 0px 0px 3px rgba(212, 214, 215, 0.681);
    width: 325px;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    corner-shape: squircle;
}

.menu-validacion-codigo input {
    margin-top: 18px !important;
    margin-bottom: 12px !important;
}

.menu-validacion-codigo .ayuda-texto {
    margin-bottom: 12px;
}

.menu-confirmacion-cuenta-creada {
    background-color: rgba(249, 249, 249, 0.642);
    box-shadow: 0px 0px 3px rgba(212, 214, 215, 0.681);
    width: 325px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    corner-shape: squircle;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center !important;
}

.text-error-form-causa {
    color: rgb(216, 14, 14);
    font-style: italic;
    text-align: left;
    font-size: 14px;
}

/*MENU AJUSTES*/
#bt-seccion-menu-cuenta-ajustes {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    corner-shape: squircle;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#bt-seccion-menu-cuenta-ajustes:hover {
    box-shadow: 0px 0px 3px rgba(136, 138, 138, 0.681);
}

#bt-seccion-menu-cuenta-ajustes span {
    font-size: 16px;
    font-weight: 600;
}

#bt-seccion-menu-cuenta-ajustes img {
    margin-left: 6px;
    width: 40px;
    height: 40px;
}

#seccion-menu-cuenta-ajustes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-fondo-claro);
    display: flex;
    z-index: 101 !important;
}

#bt-cerrar-menu-ajustes {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 2 !important;
}

#bt-cerrar-menu-ajustes img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

#seccion-menu-cuenta-ajustes .menu-navegacion-ajustes {
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 150px;
    box-shadow: 0.5px 0px 1.7px rgba(19, 19, 19, 0.419);
    overflow-x: none;
    overflow-y: auto;
    user-select: none;
}

#seccion-menu-cuenta-ajustes .menu-navegacion-ajustes div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    cursor: pointer;
    font-size: 16.5px;
    transition: 0.1s;
}

#seccion-menu-cuenta-ajustes .menu-navegacion-ajustes div:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.312);
    font-size: 17px;
    transition: 0.2s;
}

#seccion-menu-cuenta-ajustes .cuerpo-menu-ajustes {
    background-color: blue;
}