# ── Configuración de Base de Datos ──
# URI de tu cluster de MongoDB (Atlas o Local) con TLS habilitado
URI_MONGODB=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<db>?appName=RAVAGE

# ── Seguridad y Autenticación ──
# Clave hexadecimal de 32 bytes (64 caracteres hex) para firmar JWT
SECRET_KEY_JWT=

# Clave hexadecimal de 32 bytes (64 caracteres hex) para cifrado local (AES-256)
SECRET_KEY_COKKIE=

# Clave hexadecimal de 32 bytes (64 caracteres hex) para cifrado at-rest en MongoDB
INTERNAL_ENCRYPTION_KEY=

# Rondas de salt para bcrypt (se recomiendan 14 para producción)
SALTOS_ENCRIPTAR_CONTRASENA=14

# ── Servicio de Email (Brevo) ──
# Tu API Key de Brevo (v3)
BREVO_API_KEY=xkeysib-...

# El email verificado de tu cuenta de Brevo que aparecerá como remitente
BREVO_SENDER_EMAIL=tu_correo@ejemplo.com

#API KEY Google Safe Browsing , para detectar enlaces maliciosos
GOOGLE_SAFE_BROWSING_API_KEY=GOOGLE_API_KEY

# ── Generador de Claves ──
# Puedes generar claves seguras usando el siguiente comando en tu terminal:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
