# ── Variables de Entorno Globales ──
# Define el comportamiento global de la aplicación.


# Opciones: true ,false
# Si es true, la aplicación usará logs e intervals para depurar el funcionamiento de la app.
# Si es false, la aplicación bloqueara los intervals y logs (los console.log funcionaran igual).
MODO_DEBUG=true